# Byte-compiled / optimized / DLL files
__pycache__/


# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/

sdist/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pyenv
.python-version

# Virtual environments (such as created by `pyenv`, `virtualenv`, or `venv`)
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# PEP 582; used by `pythonloc` or `pyenv local`
__pypackages__/

# pyenv-virtualenv related files
.pyenv/
.python-version

# Distribution / packaging
.Python
*.lock
*.whl

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Debugger specific files
debug.log

# models
src/model/*.p

# cache fields
cache

# ignore temp result folders
results_*

# ignore not relavant files
src/tile_class.py
src/classifier.py
src/proj.py
src/utilities.py
src/conversion.py
src/mapper.py
data/gpstiles.csv
model/*
src/sampler.ipynb
src/tile_experiments.ipynb