# Minimal requirements for the active_sensing project (developed on the following versions):
# numpy==1.26.4
# pandas==2.2.3
# torch==2.5.1
# torchvision==0.20.1
# scikit-learn==1.6.0
# Pillow==10.4.0
# opencv-python==4.10.0.84
# GDAL==3.10.0
# tqdm==4.67.1
# matplotlib==3.9.2
# seaborn==0.13.2

numpy
pandas
torch
torchvision
scikit-learn
Pillow
opencv-python
# GDAL
tqdm
matplotlib
seaborn
